<%- model_class = @devlog.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:request) %>:</strong><br>
  <%= @devlog.request %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:fixing) %>:</strong><br>
  <%= @devlog.fixing %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:url) %>:</strong><br>
  <%= @devlog.url %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              devlogs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_devlog_path(@devlog), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              devlog_path(@devlog),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
