<%- model_class = @code_prename.class -%>
<h1><%=t '.title', :default => "รหัสคำนำหน้าชื่อ (ทั้งภาษาไทย & ภาษาอังกฤษ)" %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:code) %>:</strong><br>
  <%= @code_prename.code %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @code_prename.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:use) %>:</strong><br>
  <td><%= code_prename.use ? 'ใช้งาน' : 'ไม่ใช้งาน' %></td>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              code_prenames_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_code_prename_path(@code_prename), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              code_prename_path(@code_prename),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
