<%- model_class = @code_tambon.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>
<p>
  <strong><%= model_class.human_attribute_name(:province) %>:</strong><br>
  <%= @code_tambon.province %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:amphoe) %>:</strong><br>
  <%= @code_tambon.amphoe %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:code) %>:</strong><br>
  <%= @code_tambon.code %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:name) %>:</strong><br>
  <%= @code_tambon.name %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:zip) %>:</strong><br>
  <%= @code_tambon.zip %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              code_tambons_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_code_tambon_path(@code_tambon), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              code_tambon_path(@code_tambon),
              :method => 'delete',
              :confirm => t('.confirm',\
              :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
