<!DOCTYPE html>
<html>
<head>
  <title>Nursecouncil</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Nurse Council</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="<%= "active" if current_tab == :devlog %>">
            <%= link_to "Developer", devlogs_path %>
          </li>
          <li class="<%= "active" if current_tab == :nc_module %>">
            <%= link_to "Modules", nc_modules_path %>
          </li>
          
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                                    รหัสต่างๆ
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <%= link_to "รหัสคำนำหน้าชื่อ", code_prenames_path %>
              <li class="divider"></li>
              <%= link_to "รหัสจังหวัด", code_provinces_path %>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
